@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
html, body {
    height: 100vh; /* altura total da tela aparente */
    width: 100vw; /* largura total da tela aparente */
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute; /* conseguir mudar top e left */
    top: 50%;   /*50% para ficar no meio, mas pega o top esquerdo do objeto e coloca no meio da página */
    left: 50%;
    transform: translate(-50%, -50%); /* mudar a referência para o ponto central do objeto*/

    height: 550px;
    width: 273px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    left: 19px;
    top: 70px;
    width: 234px;
    height: 413px;
    
}
section#redes-sociais {
    text-align: right; /* enviar os links para o lado direito */
}
section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50px; /* deixar as imagens redondas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    box-sizing: border-box; /* a borda ser parte do tamanho do objeto */
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
    transition: transform 0.3s, border 0.2s;
}
